# **Assignment 3**

---

1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [1]:
from functools import reduce 

my_numbers = [4, 6, 9, 23, 5]

reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

print(reduce_result)

#

def myreduce(my_num):
  result = 1
  for i in my_num:
    result = result * i
  
  return result

print(myreduce(my_numbers))

24840
24840

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [2]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))

print(over_75)

over_70 = []
def myfilter(scores):
  for i in scores :
    if i > 70 :
     
      over_70.append(i)

myfilter(scores)
print(over_70)

[90, 76, 88, 81]
[90, 76, 88, 74, 81]

2. 
Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [4]:
word = "ACADGILD"
output1 = [ alphabet for alphabet in word ]
print(output1)


input_list1 = ['x','y','z']
result1 = [ item*num for item in input_list1 for num in range(1,5)  ]
print(result1)



result2 = [ item*num for num in range(1,5) for item in input_list1  ]
print(result2)


input_list2 = [2,3,4]
result3 = [ [item+num] for item in input_list2 for num in range(0,3)]
print(result3)


input_list3 = [2,3,4,5]
result4 = [ [item+num for item in input_list3] for num in range(0,4)  ]
print(result4)


input_list4=[1,2,3]
result5 = [ (b,a) for a in input_list4 for b in input_list4]
print(result5)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]